@model BannerBlockViewModel
@using Lantmannen.Helpers;

<div class="banner @Model.Current.Style">
    @if (Model.Has(Model.Current.Style) && Model.Current.Style.Contains("banner--hero"))
    {
        <picture class="banner-image">
                <source srcset="@Url.ContentUrl(Model.Image.LargeImage)?maxwidth=1920" media="(min-width: 1600px)">
                <source srcset="@Url.ContentUrl(Model.Image.LargeImage)?maxwidth=1600" media="(min-width: 1366px)">
                <source srcset="@Url.ContentUrl(Model.Image.LargeImage)?maxwidth=1366" media="(min-width: 768px)">

                @if (Model.Has(Model.Image.SmallImage))
                {
                    <img srcset="@Url.ContentUrl(Model.Image.SmallImage)" alt="@Model.Image.Description">
                }
                else
                {
                    <img srcset="@Url.GetCropUrl(Model.Image.LargeImage, 500, 350)" alt="@Model.Image.Description">
                }
        </picture>
    }
    else 
    {
        Html.RenderPartial(this.PathToViews(Model.GetType(), "_BannerBlockImage.cshtml"), Model.Image);
    }

    <div class="banner-overlay">
        <div class="banner-text-box">
            @if (Model.Current.ShouldHaveH1Title)
            {
                <h1 class="banner-title" @Html.EditAttributes(m => m.Current.Title)>
                    @Html.Raw(Model.Current.Title)
                </h1>
            }
            else
            {
                <h2 class="banner-title" @Html.EditAttributes(m => m.Current.Title)>
                    @Html.Raw(Model.Current.Title)
                </h2>
            }

            <div class="banner-body">@Html.PropertyFor(m => m.Current.Body)</div>
            
            @if (Model.Has(Model.Current.Link))
            {
                <a class="banner-link" href="@Url.ContentUrl(Model.Current.Link.ToString())">@Model.Current.LinkText</a>
            }
        </div>
    </div>

    @if (Model.Has(Model.Current.Style) && Model.Current.Style.Contains("banner--hero"))
    {
        <picture class="banner__secondary-image">
            <img srcset="@Url.ContentUrl(Model.Image.MediumImage)" alt="@Model.Image.Description">
        </picture>
    }
</div>