@model CalloutBlockViewModel

<div class="callout @Model.Current.Style">
    @if (Model.Has(Model.Current.Link))
    {
        @:<a class="callout__link callout__wrapper" href="@Url.ContentUrl(Model.Current.Link.ToString())">
    }
    else 
    {
         @:<div class="callout__wrapper">
    }

        @if (Model.Has(Model.Current.Image))
        {   
            <picture class="callout__image-wrapper">
                <img class="callout-image" srcset="@Url.ContentUrl(Model.Current.Image)" alt="@Model.ImageDescription">
            </picture>
        }

        <div class="callout__body @(Model.Has(Model.Current.Image) ? "" : "callout__body--no-image")">
            @if (Model.Has(Model.Current.Title))
            {                
                <h3 class="callout__title" @Html.EditAttributes(m => m.Current.Title)>
                    @Html.Raw(Model.Current.Title)
                </h3>
            }
            <div class="callout__text">@Html.PropertyFor(m => m.Current.Body)</div>

            @if (Model.Has(Model.Current.LinkText) && Model.Has(Model.Current.Link))
            {
                <span class="callout__button" href="@Url.ContentUrl(Model.Current.Link.ToString())">@Model.Current.LinkText</span>
            }
        </div>
    
    @if (Model.Has(Model.Current.Link))
    {
        @:</a>
    }
    else 
    {
         @:</div>
    }
</div>
